@font-face {
    font-family:badGrunge;
    src: url("../bad_grunge/badGrunge.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Faculty+Glyphic&family=Honk:MORF@15&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Kalnia+Glaze:wght@100..700&family=Nabla&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+ZA:wght@100..400&family=Poiret+One&family=Rubik+Microbe&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #121212;
    color: white;font-family: "Poiret One", sans-serif;
}
header{
    background-color: #050505;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: sticky;
}
img{
    height: 90px;
    margin-left: 50px;
    margin-right: 50px;
}
nav{
    display: inline-block;
}
li{
    list-style: none;
    display: inline;
    padding: 30px;
}
a{
    text-decoration: none;
    color: #f9f9f9;
    font-size: 20px;
}
a:hover{
    color:#ee3437;
}

div.usuario{
    height: 40px;
}
div.usuario{
    height: 40px;
}
img.usuario{
    height: 40px;
    filter: invert(100%);
}
img.usuario:hover{
    filter: invert(16%) sepia(100%) saturate(7481%) hue-rotate(358deg) brightness(96%) contrast(118%);
}

main{ 
   margin: 0px 50px;
}

/*--------------BANNNER--------------BANNNER--------------BANNNER--------------*/
section.conteiner-banner{
    display: flex;
    align-items: start;
    flex-direction: column;
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    padding-left: 60px;
    padding-bottom: 50px;
}
h1.banner-titulo{
    font-size: 200px;
    font-family: badGrunge;
    font-weight: lighter;
    line-height: 150px;
}
#azul{
    color: #03abf0;
    font-size: 250px;
}
h2.banner-titulo{
    font-size: 50px;
    font-family: badGrunge;
    font-weight: lighter;
}
div.botoes-banner{
    display: flex;
    flex-direction:row;
    margin: 30px 0px 50px;
    flex-wrap: wrap;
}
div.botao-banner{
    padding-right: 50px;
}
input.botao-banner{
    background-color: #f9f9f9;
    padding: 8px 30px;
    margin-bottom: 50px;
    font-size: 18px;
    border-radius: 5px;
    border:  #f9f9f9 solid 3px;
}
input.botao-banner:hover{
    background-color:#ee3437;
    border:  #ee3437 solid 3px;
}
input.edicoes{
    border: #f9f9f9 solid 3px;
    background-color: #f9f9f962;
    color: #f9f9f9;
}
.phone{display: none}
.tablet{display: none}
.pc{display: block}

@media screen and (min-width:768px) and (max-width:992px){
    .phone{display: none}
    .tablet{display: block }
    .pc{display: none}

    section.conteiner-banner{
        display: flex;
        align-items: start;
        flex-direction: column;
        background-image: url("../img/bannerTablet.png");
        background-repeat: no-repeat;
        padding-bottom: 50px;
    }
    h1.banner-titulo{
        font-size: 100px;
        font-family: badGrunge;
        font-weight: lighter;
        line-height: 90px;
    }
    #azul{
        color: #03abf0;
        font-size: 125px;
    }
    h2.banner-titulo{
        font-size: 25px;
        font-family: badGrunge;
        font-weight: lighter;
    }
    input.botao-banner{
        background-color: #f9f9f9;
        padding: 8px 30px;
        margin-bottom: 25px;
        font-size: 18px;
        border-radius: 5px;
        border:  #f9f9f9 solid 3px;
    }
    input.botao-banner:hover{
        background-color:#ee3437;
        border:  #ee3437 solid 3px;
    }
    input.edicoes{
        border: #f9f9f9 solid 3px;
        background-color: #f9f9f962;
        color: #f9f9f9;
    }
}
@media screen and (max-width:768px){
    .phone{display:  block}
    .tablet{display: none}
    .pc{display: none}

    section.conteiner-banner{
        display: flex;
        align-items: start;
        flex-direction: column;
        background-image: url("../img/bannerCelular.png");
        background-repeat: no-repeat;
        padding-bottom: 50px;
    }
    h1.banner-titulo{
        font-size: 65px;
        font-family: badGrunge;
        font-weight: lighter;
        line-height: 50px;
    }
    #azul{
        color: #03abf0;
        font-size: 77px;
    }
    h2.banner-titulo{
        font-size: 25px;
        font-family: badGrunge;
        font-weight: lighter;
    }
    input.botao-banner{
        background-color: #f9f9f9;
        padding: 8px 30px;
        margin-bottom: 25px;
        font-size: 18px;
        border-radius: 5px;
        border:  #f9f9f9 solid 3px;
    }
    input.botao-banner:hover{
        background-color:#ee3437;
        border:  #ee3437 solid 3px;
    }
    input.edicoes{
        border: #f9f9f9 solid 3px;
        background-color: #f9f9f962;
        color: #f9f9f9;
    }
}

/*--------------ESTATISTICAS--------------ESTATISTICAS--------------ESTATISTICAS--------------*/

hr.esquerda{
    margin-top: 65px;
    margin-bottom: 65px;
    width: 700px;
    color: #f9f9f9;
}
hr.direita{
    margin-top: 65px;
    width: 700px;
    color: #f9f9f9;
    display: block;
    float: right;
}
hr.inteira{
    margin-top: 200px;
    color: #f9f9f9;
    display: block;
}
section.conteiner-estatisticas{
    margin-top: 65px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
div.estatisticas{
    padding: 10px;
}
div.numeros{
    display: flex;
    align-items: center;

}

img.numeros{
    filter: invert(100%);
    padding-right: 20px;
    height: 80px;
    margin-bottom: 10px;
}
/*--------------CATEGORIAS--------------CATEGORIAS--------------CATEGORIAS--------------*/
section.conteiner-categorias{
    background-color: #ee3437;
    margin-top: 200px;
    height: 270px;
}
div.categorias{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 70px;
}
.categoria{
    height: 250px;
    width: 300px;
    display: flex;
    align-items: end;
    margin: 10px;
}
div.batalha{
    background-image: url("../img/cagoriasBatalhas.png"); 
    background-repeat: no-repeat;
}
div.regulamento{
    background-image: url("../img/regulamento.png"); 
    background-repeat: no-repeat;
}
div.hall{
    background-image: url("../img/hallFama.png"); 
    background-repeat: no-repeat;
}
div.noticia{
    background-image: url("../img/ultimasNoticias.png"); 
    background-repeat: no-repeat;
}
div.categorias-titulo{
    margin-bottom: 20px;
    padding: 8px 25px 8px 10px;
    background-color: #03abf0;
}

.phone{display: none}
.tablet{display: none}
.pc{display: block}

@media screen and (min-width:768px) and (max-width:1400px){
    .phone{display: none}
    .tablet{display: block }
    .pc{display: none}

    section.conteiner-categorias{
    background-color: #ee3437;
    margin-top: 200px;
    height: 270px;
    margin-bottom: 450px;
}
    div.categorias{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 70px;
        
    }
}
@media screen and (max-width:768px){
    .phone{display: block}
    .tablet{display: none}
    .pc{display: none}

    section.conteiner-categorias{
    background-color: #ee3437;
    margin-top: 200px;
    height: 550px;
    margin-bottom: 700px;
}
    div.categorias{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 70px;
        
    }
}


/*--------------EVENTOS--------------EVENTOS--------------EVENTOS--------------*/
section.conteiner-eventos{
    margin-top: 80px;
}
div.titulo-eventos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
a.ver-todos{
    color: #03abf0;
    text-decoration: underline;
}
a.ver-todos:hover{
    color: #51cbfb;
}
div.infos-eventos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
div.cad-eventos{
    border: #03abf0 solid 2px;
    display: flex;
    align-items: center;
    padding: 30px;
    margin: 30px 30px;
    flex-wrap: wrap;
}
div.cad-eventos:hover{
    border: #51cbfb solid 2px;
    box-shadow: 0px 0px 50px #51cbfb;
}
div.data-evento{
    border: #03abf0 solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    padding: 15px;
}
div.descricao-evento{
    padding: 10px;
}
p.descricao-evento{
    padding: 5px;
}
input.botao-saiba-mais{
    background-color: #f9f9f962;
    padding: 8px 30px;
    font-size: 18px;
    border-radius: 5px;
    border:  #f9f9f9 solid 3px;
    color: #f9f9f9;
    margin: 0px 60px;
}
input.botao-saiba-mais:hover{
    background-color:#ee3437;
    border:  #ee3437 solid 3px;
}

/*--------------CATEGORIAS BATELHAS--------------CATEGORIAS BATELHAS--------------CATEGORIAS BATELHAS--------------*/
section.conteiner-batalhas{
    margin-top: 100px;
    margin-bottom: 50px;
}
div.titulo-batalhas{
    display: flex;
    align-items: center;
}

div.cads-categorias-batalhas{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
div.cad-batalhas{
    border: #03abf0 solid 2px;
    width: 200px;
    height: 200px;
    padding: 15px;
    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
div.cad-batalhas:hover{
    border: #51cbfb solid 2px;
    box-shadow: 0px 0px 50px #51cbfb;
}

.img-categorias{
    margin-bottom: 5px;
}

/*--------------FOOTER--------------FOOTER--------------FOOTER--------------*/
footer{
    display: flex;
    justify-content: center;
    width: auto;
    background-color: #050505;
}
p.rodape{
    padding: 20px;
    font-size: 10px;
}


h1{
    font-size: 40px;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 25px;
}
h5{
    font-size: 20px;
}