@font-face {
    font-family:badGrunge;
    src: url("../bad_grunge/badGrunge.ttf");
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #121212;
    /*background-color: #ee3437;*/
    color: white;
}
header{
    background-color: #050505;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
img{
    height: 90px;
}
nav{
    display: inline-block;
}
li{
    list-style: none;
    display: inline;
    padding: 30px;
}
a{
    text-decoration: none;
    color: #f9f9f9;
    font-size: 20px;
}
a:hover{
    color:#ee3437;
}

div.usuario{
    height: 40px;
}
div.usuario{
    height: 40px;
}
img.usuario{
    height: 40px;
    filter: invert(100%);
}

main{
   height: 900px; 
   margin: 0px 50px;
}

/*--------------BANNNER--------------BANNNER--------------BANNNER--------------*/
section.conteiner-banner{
    display: flex;
    align-items: start;
    flex-direction: column;
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    padding-left: 60px;
}
h1.banner-titulo{
    font-size: 200px;
    font-family: badGrunge;
    font-weight: lighter;
    line-height: 150px;
}
#azul{
    color: #03abf0;
    font-size: 250px;
}
h2.banner-titulo{
    font-size: 50px;
    font-family: badGrunge;
    font-weight: lighter;
}
div.botoes-banner{
    display: flex;
    flex-direction:row;
    margin: 30px 0px 50px;
    flex-wrap: wrap;
}
div.botao-banner{
    padding-right: 50px;
}
input.botao-banner{
    background-color: #f9f9f9;
    padding: 8px 30px;
    margin-bottom: 50px;
    font-size: 18px;
    border-radius: 5px;
    border:  #f9f9f9 solid 3px;
}
input.edicoes{
    border: #f9f9f9 solid 3px;
    background-color: #f9f9f962;
    color: #f9f9f9;
}

/*--------------ESTATISTICAS--------------ESTATISTICAS--------------ESTATISTICAS--------------*/

hr.esquerda{
    margin-top: 65px;
    margin-bottom: 65px;
    width: 700px;
    color: #f9f9f9;
}
hr.direita{
    margin-top: 65px;
    width: 700px;
    color: #f9f9f9;
    display: block;
    float: right;
}
section.conteiner-estatisticas{
    margin-top: 65px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
div.estatisticas{
    padding: 10px;
}
div.numeros{
    display: flex;
    align-items: center;

}

img.numeros{
    filter: invert(100%);
    padding-right: 20px;
    height: 80px;
    margin-bottom: 10px;
}

footer{
    display: flex;
    justify-content: center;
    width: auto;
    background-color: #050505;
    position: fixed;
    bottom: 0;
    
}
p.rodape{
    padding: 20px;
    font-size: 10px;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 25px;
}